.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.refresh-btn {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        background: linear-gradient(135deg, #ff416c, #ff4b2b);
        color: white;
        font-family: 'Indie Flower', cursive;
        font-size: 20px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
      }
